* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}
.App-Title{
  font-size: 40px;
  font-weight: bold;
  background-color: darkblue;
}
.App-navbar{
  background-color: slategray;
  font-weight: bold;
  
}
.App-navbar a{
  float: center;
  margin: 2rem;
  width: 25%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.search-bar {
  padding : 0.25rem 1rem;
  margin : 0.25rem 0rem;
}

.card-container {
  padding : 1.5rem 2.5rem;
  background-color: #282c34;
  min-height: 100vh;
  display:grid;
  gap: auto;
  width: 100%;
  grid-template-columns: auto auto auto auto;
  
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
