* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}
.App-Title{
  font-size: 5rem;
  padding: 0.5rem 1rem;
}
.App-navbar{
  display: flex;
  font-weight: bold;
  background-color: darkblue;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  
}

.App-navbar {
  float: center;
  width: 100%;
}

.navbar-element {
  padding: 1rem 1rem;
  width: 20%;
}

.navbar-element:hover {
  opacity: 0.7;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.search-banner {
  display : flex;

}

.search-bar .search-title {
  display: grid;
  gap : auto;
  grid-template-columns: auto auto auto auto;
  padding : 0.25rem 1rem;
  margin : 0.25rem 0rem;
}

.card-container {
  padding : 1.5rem 2.5rem;
  background-color: #282c34;
  min-height: 100vh;
  display:grid;
  gap: auto;
  width: 100%;
  grid-template-columns: auto auto auto auto;
  
  color: white;
}


