* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}
.App-Title{
  width: 16rem;
  height: 6rem;
  object-fit: fill;
  z-index: 10;
}

.App-navbar{
  display: flex;
  font-weight: bold;
  background-color: darkblue;
  align-items: center;
  font-size: 1.5rem;
  padding: 1.5rem 0.5rem;
  padding-bottom: 0.5rem;
  float: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
}


.navbar-element {
  padding: 1rem 1rem;
  width: 20%;
  color: white;
}

.navbar-element:hover {
  opacity: 0.7;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;

}

.search-banner {
  display : flex;
  position: relative;
  width: 100%;


}

.search-bar {
  left: 0;
  border-radius: 5%;
  height: 25px;
}

.search-title {
  display: inline-block;
  padding : 0.25rem 1rem;
  margin : 0.25rem 0rem;
  right:0;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
}

.card-container {
  padding : 1.5rem 2.5rem;
  background-color: #ffffff;
  min-height: 100vh;
  display:grid;
  gap: auto;
  width: 100%;
  grid-template-columns: auto auto auto auto;
  
  color: white;
}

.hide {
  display: none;
}

.gangnam {
  height: 20rem;
  position: relative;
  margin: 1rem 1rem;
  padding: 0.75rem 1rem;
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 10px solid black;
}